.footer {
    padding: 40px 0;
    margin: 50px 0;

    &-container {
        max-width: 85%;
        margin: 0 auto;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 40px;
    }

    &-text {
        margin: 0;
    }

    &-contact {
        div {
            display: inline-flex;
            flex-direction: column;
        }
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
    .footer {
        padding: 20px 20px;
        margin: 30px 0;

        &-content {
            gap: 40px;
            grid-template-columns: auto;
            align-items: flex-start;
        }
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 768px) {
    .footer {
        padding: 20px 20px;
        margin: 30px 0;

        &-content {
            gap: 40px;
            padding: 20px;
            grid-template-columns: auto;
            align-items: flex-start;
        }

        &-text {
            max-width: 550px;
        }

        &-contact {
            display: inline-flex;
            align-items: flex-start;
        }
    }
}

/* Small Tablets (portrait) ----------- */
@media only screen and (max-width: 480px) {
    .footer {
        padding: 20px 20px;
        margin: 30px 0;

        &-container {
            max-width: 90%;
        }

        &-content {
            gap: 40px;
            padding: 20px;
            grid-template-columns: auto;
            align-items: center;
        }

        &-text,
        &-contact {
            text-align: center;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .footer {
        padding: 20px 10px;
        margin: 30px 0;

        &-container {
            max-width: 90%;
        }

        &-content {
            gap: 40px;
            padding: 10px;
            grid-template-columns: auto;
            align-items: center;
        }

        &-text,
        &-contact {
            text-align: center;
        }
    }
}
