.hamburger {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    &-secondary-background-color {
        background: var(--color-black);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &-layer {
        position: relative;
        background: var(--color-pink);
        height: 100%;
        overflow: hidden;
    }

    &-container {
        width: 1280px;
        min-width: 80%;
        margin: 0 auto;
    }

    &-wrapper {
        position: relative;
        padding: 0 48px;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 200px;
    }

    &-nav {
        display: block;
    }

    &-list {
        margin: 0;
        padding: 0 60px;
    }

    &-item {
        list-style: none;
        font-size: 4rem;
        font-weight: 700;

        height: 135px;
        overflow: hidden;
        position: relative;
        width: 700px;
    }

    &-link {
        position: absolute;
        cursor: pointer;
        font-family: var(--font-family-logo);
        font-size: calc(30px + (90 - 30) * ((100vw - 320px) / (1600 - 320)));
        color: #fff;
        text-decoration: none;
        &:hover {
            color: var(--color-black);
        }
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 768px) {
}

/* Small Tablets (portrait) ----------- */
@media only screen and (max-width: 480px) {
    .hamburger {
        &-wrapper {
            padding: 0;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .hamburger {
        &-wrapper {
            padding: 0;
        }
    }
}
