.hero {
    padding: 40px 0;
    margin-top: 50px;

    &-container {
        max-width: 96%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        justify-content: flex-start;
    }

    &-title {
        grid-column: 1/4;
        h1 {
            font-family: var(--font-family-primary);
            font-size: calc(
                18px + (30 - 18) * ((100vw - 320px) / (1600 - 320))
            );
        }
    }

    &-contact {
        grid-column: 5/8;
        display: inline-flex;
        flex-direction: column;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
    .hero {
        &-contact {
            grid-column: 7/10;
        }
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 768px) {
    .hero {
        padding: 20px 10px;
    }
}

/* Small Tablets (portrait) ----------- */
@media only screen and (max-width: 480px) {
    .hero {
        padding: 20px 10px;
        margin-top: 0;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &-contact {
            margin-top: 30px;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .hero {
        padding: 20px 10px;
        margin-top: 0;

        &-container {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
        }

        &-contact {
            margin-top: 30px;
        }
    }
}
