.project {
    padding: 40px 0;
    margin-top: 50px;

    &-container {
        max-width: 96%;
        margin: 0 auto;
    }

    &-article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &:not(:first-child) {
            margin-top: 60px;
        }

        &:nth-child(even) {
            align-items: flex-end;
        }
    }

    &-link {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1600 - 320)));
        text-decoration: none;
        color: var(--color-dark);
        transition: color 0.2s ease-in-out;
    }

    &-h2 {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1600 - 320)));
        font-style: italic;
        color: var(--color-gray);
    }

    &-image {
        display: block;
        width: calc(300px + (1000 - 300) * ((100vw - 320px) / (1600 - 320)));
        margin-top: 15px;

        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
            clip-path: polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }
    }

    .js-vhs-filter {
        &:hover {
            transform: scale(0.9);
        }
    }

    .vhs-filter {
        overflow: hidden;
        position: relative;

        &__r,
        &__g {
            left: 0;
            mix-blend-mode: screen;
            position: absolute;
            top: 0;
            transition: transform 0.4s;
            z-index: 1;
        }

        &__r {
            filter: url("#r");
            transform: translate(1px, 2px);
        }
        &__g {
            filter: url("#g");
            transform: translate(-2px, -1px);
        }
        &__b {
            filter: url("#b");
        }

        &:hover {
            .vhs-filter__r,
            .vhs-filter__g {
                transform: translate(0);
            }
        }
    }

    .project-svg {
        width: 0px;
        height: 0px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
    .project {
        &-article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &:not(:first-child) {
                margin-top: 40px;
            }
        }

        &-image {
            display: block;
            margin-top: 15px;
        }
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 768px) {
    .project {
        padding: 20px 10px;
        margin-top: 30px;

        &-article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &:not(:first-child) {
                margin-top: 30px;
            }
        }

        &-image {
            display: block;
            // max-width: 500px;
        }
    }
}

/* Small Tablets (portrait) ----------- */
@media only screen and (max-width: 480px) {
    .project {
        padding: 20px 10px;
        margin-top: 30px;

        &-article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:not(:first-child) {
                margin-top: 30px;
            }

            &:nth-child(even) {
                align-items: center;
            }
        }

        &-image {
            width: 100%;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .project {
        padding: 20px 10px;
        margin-top: 0;

        &-article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:not(:first-child) {
                margin-top: 30px;
            }

            &:nth-child(even) {
                align-items: center;
            }
        }

        &-image {
            width: 100%;
        }
    }
}
